<p id="notice"><%= notice %></p>

<h1>Listing My Applications</h1>

<table class="table-index">
  <thead>
    <tr>
      <th class="small">Type</th>
      <th class="medium">Company</th>
      <th class="medium">Position</th>
      <th class="large">Applied date</th>
      <th class="large">Released date</th>
      <th class="small">Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_applications.each do |my_application| %>
      <tr>
        <td class="small">
            <% if my_application.apply_type == 0 %>
              <%= "서류전형" %>
            <% elsif my_application.apply_type == 1 %>
              <%= "필기전형" %>
            <% elsif my_application.apply_type == 2 %>
              <%= "인적성" %>
            <% elsif my_application.apply_type == 3 %>
              <%= "1차면접" %>
            <% elsif my_application.apply_type == 4 %>
              <%= "2차면접" %>
            <% elsif my_application.apply_type == 5 %>
              <%= "3차면접" %>
            <% end %>
        </td>
        <td class="medium"><%= my_application.company %></td>
        <td class="medium"><%= my_application.position %></td>
        <td class="large"><%= my_application.applied_date %></td>
        <td class="large"><%= my_application.released_date %></td>
        <td class="small"><%= my_application.result %></td>
        <td class="small"><%= link_to 'Show', "get_cover_letters/#{my_application.id}" %></td>
        <td class="small"><%= link_to 'Edit', edit_my_application_path(my_application) %></td>
        <td class="small"><%= link_to 'Destroy', my_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My application', new_my_application_path %>
