<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <% if @my_application.apply_type == 0 %>
    <%= "서류전형" %>
  <% elsif @my_application.apply_type == 1 %>
    <%= "필기전형" %>
  <% elsif @my_application.apply_type == 2 %>
    <%= "인적성" %>
  <% elsif @my_application.apply_type == 3 %>
    <%= "1차면접" %>
  <% elsif @my_application.apply_type == 4 %>
    <%= "2차면접" %>
  <% elsif @my_application.apply_type == 5 %>
    <%= "3차면접" %>
  <% end %>
</p>

<p>
  <strong>Company:</strong>
  <%= @my_application.company %>
</p>

<p>
  <strong>Applied date:</strong>
  <%= @my_application.applied_date %>
</p>

<p>
  <strong>Released date:</strong>
  <%= @my_application.released_date %>
</p>

<p>
  <strong>Result:</strong>
  <%= @my_application.result %>
</p>

<%= link_to 'Edit', edit_my_application_path(@my_application) %> |
<%= link_to 'Back', my_applications_path %>
