<p id="notice"><%= notice %></p>

<h1>Listing Cover Letters</h1>

<% @cover_letters.each do |cover_letter| %>
  <table class="cover-letter-index">
    <tbody>
      <tr class="question">
        <td class="cl-content"><%= cover_letter.question %></td>
      </tr>
      <tr>
        <td class="cl-content"><%= cover_letter.answer %></td>
      </tr>
      <tr>
        <td><%= link_to 'Edit', edit_cover_letter_path(cover_letter) %>
        <%= link_to 'Destroy', cover_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Cover letter', "/cover_letters/new/#{@application_id}" %>
